<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100%; z-index: 1 }
  #titleclass {z-index:2}
  #title2.pos_right{}
  </style>

  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGVoQWoo26DazA9M-0MwkMk1GNQ_Jjfh8">
  </script>
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
  var infowindow = null;
  function initialize() {
        var myLatlng = new google.maps.LatLng(42,-80); // center of the map
        var mapOptions = {
          zoom: 4,
          center: myLatlng
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        infowindow = new google.maps.InfoWindow({
         content: "holding..."
       });
        markers = [];
        tooltips = [];
        function listenMarker (marker) {
          google.maps.event.addListener(marker, 'click', function() {
            tooltip.open(map, marker);
          });
        }
        $.getJSON('chrisnpitbull.json', function(mockdata) {
	    for(var i = 0; i < mockdata.length; i++)
	    {
		var pos = new google.maps.LatLng(mockdata[i].Latitude, mockdata[i].Longitude);
		var marker = new google.maps.Marker({
		    map: map, 
		    position: pos,
		    icon: {
     		      path: google.maps.SymbolPath.CIRCLE,
      		      scale: 5
    		    },
		    title: mockdata[i].Event
		})
		var tooltip = new google.maps.InfoWindow({
		    content: "<div style='width:100px'><h3>"+mockdata[i].Event+"</h3>"+mockdata[i].Note+"</div>"
		})
		tooltip.open(map,marker);
		listenMarker(marker);
		markers.push(marker);
		tooltips.push(tooltip);
	   }
	});               
      }
      google.maps.event.addDomListener(window, 'load', initialize);


      </script>

    </head>
    <body>
      <div id="titleclass">
        <h1> 
          <img src="http://i.imgur.com/1V46KCt.png" alt="banana" height="100" width="360">
        </h1> </center>
      </div>

      <select>
        <option value="chooseOption">Choose Option</option>
        <option value="tRob">TRob</option>
        <option value="ChrisB">ChrisB</option>
        <option value="Ludacris">Ludacris</option>
      </select>
      <!-- <p> This is text. </p> -->
      <div id="map-canvas">

      </div>

    </body>
    </html>
